* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(15, 15, 15, 0.74);
    font-family: 'Montserrat', sans-serif;

}

body{
    height: 100vh;

}

header {
    background-color: rgb(236, 235, 209);
    display: flex;
    
}

header img {

    margin-left: 30px;
}

header ul {
    display: flex;
    flex-direction: row;
    margin-left: 40px;   
}

ul li {
    padding: 10px;
    list-style: none;
}

.block {
    display: block;
    width: 100%;
}

.pesquisa input {
    width: 70%;
    padding: 0px 5px;
    border: 1px solid gray;
    border-radius: 5px;
}


.pesquisa {
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 5%
}

.pesquisa img {
    max-width: 30px;
}



a {
    text-decoration: none;
    cursor: pointer;
}


.menu-sec ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #03989E;
}

.slider img {
    max-width: 100%;
    border-top: 1px solid rgba(15, 15, 15, 0.74) ;
 
}


h2 {
    margin-top: 30px;
}

.destaques,
.melhoresAvaliadas {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.destaques img {
    max-width: 210px;
    margin: 10px;
    border: 1px solid;
}

.melhoresAvaliadas img {
    max-width: 210px;
    margin: 10px;
    border: 1px solid;
}

footer {
    background-color: #03989E;
    padding: 50px;
    text-align: center;
}

footer a {
    margin: 10px
}