* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgba(15, 15, 15, 0.74);
    font-family: 'Montserrat', sans-serif;

}

body{
    height: 100vh;
    background-color: rgb(241, 241, 241);

}

header {
    background-color: rgb(236, 235, 209);
    display: flex;
    
}

header img {

    margin-left: 30px;
}

header ul {
    display: flex;
    flex-direction: row;
    margin-left: 40px;   
}

ul li {
    padding: 10px;
    list-style: none;
}

.menu {
    display: block;
    width: 100%;
}

.pesquisa input {
    width: 70%;
    padding: 0px 5px;
    border: 1px solid gray;
    border-radius: 5px;
}


.pesquisa {
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 5%
}

.pesquisa img {
    max-width: 30px;
}



a {
    text-decoration: none;
    cursor: pointer;
}


.menu-sec ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #03989E;
}

.slider img {
    max-width: 100%;
    border-top: 1px solid rgba(15, 15, 15, 0.74) ;
 
}


h1 {
    margin-top: 30px;
    text-align: center;
}

.destaques,
.melhoresAvaliadas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.destaques img {
    max-width: 190px;
    margin: 5px;
    border: 1px solid;
}

.melhoresAvaliadas img {
    max-width: 190px;
    margin: 5px;
    border: 1px solid;
    align-items: center;
}

footer {
    background-color: #03989E;
    padding: 50px;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

footer a {
    margin: 10px
}


.quemSomos h1 {
    text-align: center;
    margin: 20px;
}

.quemSomos p {
    margin: 40px;
}

.quemSomos form {
    width: 60%;
    align-items: center;
}

.quemSomos label {
    text-align: right;
    display: block;
    justify-content: center;

}

.quemSomos form input {
    margin: 10px;
    padding: 5px;
}

.quemSomos form textarea {
    margin: 10px;
    padding: 5px;
}

form button {
    background-color: rgba(15, 15, 15, 0.74);
    color:white;
    margin-left: 70%;
    margin-top: 20px;
    padding: 5px;
    width: 30%;
}


.produtos ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produtos p {
    margin-top: 10px;
}

.produtos img {
    max-width: 250px;
    margin-top: 20px;;
}

.produtoDestaque div img {
    max-width: 450px;
}

.produtoDestaque {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    gap: 40px;
    ;
}

.comprar {
    padding: 10px;
    background-color: #F8E80D;
}


@media  only screen and (max-width: 1024px) {
    
    
}

@media only screen and (max-width: 480px) {

    header {
        display: block;
    }

    header div img {
        max-width: 30%;
    }

    header nav ul li {
        font-size: 60%;
    }

    
    .pesquisa input {
        width: 50%;
}

    .pesquisa {
        padding: 10px;
        width: 100%;
        display: flex;
        gap: 3%
}

    .pesquisa img {
        max-width: 20px;
}
    
    .menu-sec {
        font-size: 50%;
    }

    .destaques img {
        max-width: 100px;
    }

    .melhoresAvaliadas img {
        max-width: 100px;
    }

    .produtos img {
        max-width: 100px;
    }

    .produtos p {
        font-size: 60%;
    }

    .produtoDestaque div img {
        max-width: 180px;
    }

    .produtoDestaque div h1 {
        font-size: 100%;
    }

    .produtoDestaque div p {
        font-size: 80%;
    }

    .comprar {
        padding: 5px;
    }
}

